.page {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  padding: 0 5rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem 0;
}

.header__title, 
.section-title,
.card__title,
.card__subtitle
.education__title {
  color: var(--title-color);
}

.navigation__list {
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 2rem;
  flex-wrap: wrap;
}

.link {
  text-decoration: none;
}

.link:hover {
  color: var(--accent-color);
}

.link:active .link-text {
  color: var(--accent-color);
  text-decoration: underline;
  text-underline-offset: 5px;
}

.header__profile-image {
  display: block;
  width: 300px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__title {
  font-variation-settings: "wght" 800;
  font-size: 3rem;
}

.header__subtitle {
  font-variation-settings: "wght" 600;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 1.5rem;
}

.contacts {
  width: 100%;
}

.contacts__list {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.contacts__icon {
  width: 20px;
  vertical-align: text-bottom;
}

.bullet-list {
  padding: 0.5rem 0;
  list-style: disc inside;
}

.code__container {
  max-width: 100%;
  white-space: pre-wrap;
  background: var(--background-color);
  padding: 0;
  font-family: "CutiveMono", monospace;
  line-height: 1;
}

.token.parameter {
  color: #E09ECF;
}

.token.keyword {
  color: #E621B0;
  font-weight: bold;
}
.token.string {
  color: #DF6CBF;
}
.token.number {
  color: #0CE4E7;
}
.token.function {
  color: #06A6A8;
}
.token.operator {
  color: #E09ECF;
}
.token.punctuation {
  color: #E3AF09;
}

.token.class-name {
  color: #77DCDE;
}

.projects__cards-list,
.experience__cards-list {
  display: flex;
  flex-flow: column;
  gap: 3rem;
}

.project-card,
.experience-card {
  background-color: var(--card-background-color);
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}

.project__description {
  padding: 0.7rem 0;
}

.project-card__tags-list {
  display: flex;
  gap: 1rem;
  padding: 0.5rem 0;
}

.project-card__tag {
  background-color: var(--accent-color);
  color: var(--primary-text-color);
  padding: 0.5rem 1rem;
  border-radius: 20px;
}

.link-icon {
  width: 15px;
  vertical-align: text-top;
}

.project-card__links {
  display: flex;
  gap: 2rem;
}

.projects__subtitle {
  padding: 0.5rem 0;
}

.experience-card__dates {
  display: block;
  font-variation-settings: "wght" 200;
}

.plain-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.languages__level {
  font-variation-settings: "wght" 200;
}

.footer__divider {
  color: var(--primary-text-color);
  width: 100%;
}

.footer {
  width: 100%;
  padding: 1.5rem 0;
}

.footer__links {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.footer-logo {
  width: 50px;
}

.school-logo {
  width: 120px;
}

