.page-body {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  padding: 0 5rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem 0;
}

.navigation__menu {
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 2rem;
  flex-wrap: wrap;
}

.link-decoration {
  text-decoration: none;
}

.link-decoration:hover {
  color: var(--accent-color);
}

.link-decoration:active .link-text {
  color: var(--accent-color);
  text-decoration: underline;
  text-underline-offset: 5px;
}

.profile-image {
  display: block;
  width: 300px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__title {
  font-variation-settings: "wght" 800;
  font-size: 3rem;
}

.header__subtitle {
  font-variation-settings: "wght" 600;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 1.5rem;
}

.contact-info {
  width: 100%;
}

.contact-info__list {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.contact-info__list-logo {
  width: 20px;
  vertical-align: text-bottom;
}

.summary__content {
  padding: 0.5rem 0;
}

.skills__list {
  padding: 0.5rem 0;
  list-style: disc inside;
}

.code-container {
  max-width: 100%;
  white-space: pre-wrap;
  background: var(--background-color);
  padding: 0;
  font-family: "CutiveMono", monospace;
  line-height: 1;
}

.token.parameter {
  color: #E09ECF;
}

.token.keyword {
  color: #E621B0;
  font-weight: bold;
}
.token.string {
  color: #DF6CBF;
}
.token.number {
  color: #0CE4E7;
}
.token.function {
  color: #06A6A8;
}
.token.operator {
  color: #E09ECF;
}
.token.punctuation {
  color: #E3AF09;
}

.token.class-name {
  color: #77DCDE;
}

.projects__list {
  display: flex;
  flex-flow: column;
  gap: 3rem;
}

.card-decoration {
  background-color: #0d0d0d;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.5);
}

.card__subtitle {
  font-style: italic;
}

.card__description {
  padding: 0.7rem 0;
}

.card__tags-list {
  display: flex;
  gap: 1rem;
  padding: 0.5rem 0;
}

.card__tags-list-item {
  background-color: var(--accent-color);
  color: var(--primary-text-color);
  padding: 0.5rem 1rem;
  border-radius: 20px;
}

.link-icon {
  width: 15px;
  vertical-align: text-top;
}

.card__links-list {
  display: flex;
  gap: 2rem;
}

.card__links-list-link {
  text-decoration: none;
}

.card__links-list-link:hover {
  color: var(--accent-color);
}

.card__links-list-link:active .link-text {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.projects__subtitle {
  padding: 0.5rem 0;
}

.experience-list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.experience__card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card__company-link {
  font-family: "RobotoMono", monospace;
  text-decoration: none;
}

.card__company-link:hover {
  color: var(--accent-color);
}

.card__company-link:active {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.card__company-dates {
  display: block;
  font-variation-settings: "wght" 200;
}

.card__results-list {
  padding-left: 1rem;
  list-style: disc outside;
}

.education__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.education-card__dates {
  font-variation-settings: "wght" 200;
}

.languages__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.languages__level {
  font-variation-settings: "wght" 200;
}

.footer-divider {
  color: var(--primary-text-color);
  width: 100%;
}

.footer {
  width: 100%;
  padding: 1.5rem 0;
}

.footer__links {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.school-logo {
  width: 120px;
}

.footer__links-link:hover {
  color: var(--accent-color)
}

.footer__links-link {
  text-decoration: none;
}

.footer__links-link:active .link-text {
  text-decoration: underline;
  text-underline-offset: 5px;
}



